:root {
  --main-color: #eaf1f8;
  --input-btn: #6d1874;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.chat-container {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.chat-box {
  height: 60vh;
  overflow-y: scroll;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.user-messageDev {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.user-message,
.bot-message {
  /* background-color: var(--main-color); */
  background-color: lightgray;
  padding: 10px;
  margin-top: 15px;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.user-message {
  margin-right: 10px;
  background-color: lightblue;
}

.user-message span {
  text-align: end;
  background-color: var(--main-color);;
}

.bot-messageDev {
  margin: 25px 0;
}

.message-form {
  display: flex;
  justify-content: space-between;
}

#suggested-messages {
  position: relative;
  bottom: -80% !important;
}

input[type="text"] {
  width: 65%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--input-btn);
  outline: none;
  transition: border-color 0.3s ease;
}

.speakBtn {
  margin-bottom: -9px;
  cursor: pointer;
}

input[type="text"]:hover,
input[type="text"]:focus {
  border-color: var(--input-btn);
}

input[type="text"]:focus {
  box-shadow: 0 0 5px rgba(128, 46, 204, 0.8);
}

#initialValue {
  margin-top: 15px !important;
}

.suggestion-button {
  display: flex;
  position: relative;
  bottom: 0;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
  min-width: 250px;
  min-height: 28px;
  background-color: #f9f8f9;
  color: #282728;
  padding: 0px 10px;
  border-radius: 8px;
  font-family: Inter;
  font-weight: 400;
  border: none;
  text-align: center;
  padding: 10px;
}

button {
  background-color: black;
  border-radius: 50%;
  outline: none;
  height: 35px;
  width: 35px;
  cursor: pointer;
  position: relative;
}

.submitBtn {
  margin-top: 4px;
  left: -2px;
  width: 15px;
}

.suggested-messages{
  position: sticky;
}

.bgColor{
  background-color: black !important;
}

.chat-Navbar {
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding: 5px;
  margin-top: 35px;
  height: 77px;
}

.chat-nav-container {
  display: flex;
}

.roundedName {
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgStyle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-Navbar-name {
  margin-top: 18px;
  margin-left: 5px;
}

.chat-Navbar-name b {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

.chat-Navbar-name small {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.chat-Navbar-name strong {
  font-family: Inter;
  font-size: 8px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
