:root {
  --main-color: #eaf1f8;
  --input-btn: #6d1874;
  --border-color: #ccc;
   overflow-x: hidden;
}
body {
  font-family: Arial, sans-serif;
  margin: 35px;
  padding: 0;
}
.chat-container {
  padding: 10px;
  background-color: #fff;
  padding: 26px 25px;
  height: 280px;
  min-height: 280px;
  overflow-x: hidden;
  overflow-y: auto;
}

.chat-container::-webkit-scrollbar {
  display: none;
}

.chat-box::-webkit-scrollbar {
  display: none;
}
.user-messageDev {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  position: relative;
}
.user-message,
.bot-message {
  background-color: #eaf1f8;
  padding: 10px;
  margin-top: 15px;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}
.user-message {
  margin-right: 10px;
  background-color: #f2f0f4;
}
.user-message span {
  text-align: end;
  background-color: var(--main-color);
}
.bot-messageDev {
  margin: 25px 0;
  position: relative;
  }
  
.message-form {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
/* #suggested-messages {
  position: fixed;
  bottom: 30%;
  max-width: 70%;
  display: grid;
} */
input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--input-btn);
  outline: none;
  transition: border-color 0.3s ease;
}
.chatIcons {
  margin-right: 10px;
  cursor: pointer;
}
input[type="text"]:hover,
input[type="text"]:focus {
  border-color: var(--input-btn);
}
input[type="text"]:focus {
  box-shadow: 0 0 5px rgba(128, 46, 204, 0.8);
}
#initialValue {
  margin-top: 15px !important;
  position: relative;
}
.suggestion-button {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px;
  margin-top: 20px;
  background-color: #eaf1f8;
  color: #282728;
  min-height: 40px;
  border-radius: 8px;
  font-family: Inter;
  border: none;
  padding-left: 10px;
  }
button{
  border-radius: 50% !important;
  outline: none;
  border: none;
  width: 60px;
  height: 60px;
  background: none;
  cursor: pointer;

}

.submitBtn {
  outline: none;
  height: 45px;
  width: 45px;
  border-radius: 50% !important;
  cursor: pointer;
  position: relative;
}

.suggested-messages {
  padding: 0 26px;
  cursor: pointer;
}
.bgColor {
  background-color: black !important;
}
.chat-Navbar {
  background-color: black;
  color: white;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding: 5px;
  /* height: 77px; */
}
.chat-nav-container {
  display: flex;
  align-items: center;
  margin: 17px 22px;
}
.roundedName {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgStyle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.chat-Navbar-name {
  margin-left: 8px;
}
.chat-Navbar-name b {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}
.chat-Navbar-name small {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.chat-Navbar-name strong {
  font-family: Inter;
  font-size: 8px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.loader {
  text-align: center;
}
.loader span {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 20px;
  animation: loader 0.8s infinite alternate;
}
.loader span:nth-of-type(2) {
  animation-delay: 0.2s;
}
.loader span:nth-of-type(3) {
  animation-delay: 0.6s;
}
@keyframes loader {
  0% {
    opacity: 0.9;
    transform: scale(0.5);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}

#chatbot-style {
  transition: transform 0.3s ease-in-out;
  text-align: start;
}

#chatbot-style.hidden,
#formElementCls.hidden {
  display: none;
}

.iconsImg {
  width: 62.63px;
  height: 62.63px;
  background: #0000001f;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.iconsImg {
  position: fixed;
  bottom: 16%;
  right: 0;
}

.powerdByText {
  text-align: center;
  margin: 25px;
}
.powerdSpan {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
strong {
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.formElementCls {
  border-top: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 10px;
}

.formElHr {
  border: 1px solid #e4e4e4;
  margin: 5px 20px;
}

/* CSS 20-12-2023 */
div#chatbot-style {
  width: 100%;
  /* height:100vh; */
  position: relative;
  border: 1px solid #efefef;
  z-index: 9999;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 2px 59px 3px rgba(0, 0, 0, 0.12) !important;
}
input#user-input {
  border: 0;
  border-radius: 0;
}
.formElementCls {
  padding: 26px 25px;
}
#message-form {
  display: flex;
  align-items: center;
  border-top: 1px solid #e4e4e4;
  padding: 12px 0;
}
input[type="text"]:focus {
  box-shadow: none;
}
.arrow-left {
  width: 10px;
  height: 15px;
  background-color: #eaf1f8;
  clip-path: polygon(100% 100%, 100% 0, 0 50%);
  position: absolute;
  top: 6px;
  left: -10px;
}
.arrow-right {
  width: 10px;
  height: 15px;
  background-color: #f2f0f4;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  position: absolute;
  top: 18px;
  right: 1px;
}

#widget-icon-img {
  width: 40px;
  height: 40px;
}

.bot-message-error{
    background-color: #eaf1f8;
    padding: 10px;
    margin-top: 15px;
    border-radius: 0.5rem;
    display: flow-root;
    flex-wrap: wrap;
}
.loader{
    background-color: #eaf1f8;
    padding: 10px;
    margin-top: 15px;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.loader-span-div{
  position: relative;
}

.typing-animation {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}