
:root {
  --main-color: #eaf1f8;
  --input-btn: #6d1874;
  --border-color: #ccc;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.chat-container {
  /* margin-bottom: 20px; */
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  padding: 10px;
  max-height: 60vh;
  overflow: scroll;
  overflow-x: hidden;

}

.chat-container::-webkit-scrollbar {
  display: none;
}
.chat-box {
  min-height: 50vh;
  overflow-y: scroll;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.chat-box::-webkit-scrollbar {
  display: none;
}
.user-messageDev {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.user-message,
.bot-message {
  /* background-color: var(--main-color); */
  background-color: lightgray;
  padding: 10px;
  margin-top: 15px;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}
.user-message {
  margin-right: 10px;
  background-color: lightblue;
}
.user-message span {
  text-align: end;
  background-color: var(--main-color);
}
.bot-messageDev {
  margin: 25px 0;
}
.message-form {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
#suggested-messages {
  position: fixed;
  bottom: 30%;
}
input[type="text"] {
  width: 65%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--input-btn);
  outline: none;
  transition: border-color 0.3s ease;
}
.speakBtn {
  margin-bottom: -9px;
  cursor: pointer;
}
input[type="text"]:hover,
input[type="text"]:focus {
  border-color: var(--input-btn);
}
input[type="text"]:focus {
  box-shadow: 0 0 5px rgba(128, 46, 204, 0.8);
}
#initialValue {
  margin-top: 15px !important;
}
.suggestion-button {
  display: flex;
  position: relative;
  bottom: 0;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
  min-width: 250px;
  min-height: 28px;
  background-color: #f9f8f9;
  color: #282728;
  padding: 0px 10px;
  border-radius: 8px;
  font-family: Inter;
  font-weight: 400;
  border: none;
  text-align: center;
  padding: 10px;
}
button {
  background-color: black;
  border-radius: 50%;
  outline: none;
  height: 35px;
  width: 35px;
  cursor: pointer;
  position: relative;
}
.submitBtn {
  margin-top: 4px;
  left: -2px;
  width: 15px;
}
.suggested-messages {
  position: sticky;
}
.bgColor {
  background-color: black !important;
}
.chat-Navbar {
  background-color: black;
  color: white;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding: 5px;
  margin-top: 35px;
  height: 77px;
}
.chat-nav-container {
  display: flex;
}
.roundedName {
  margin-top: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgStyle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.chat-Navbar-name {
  margin-top: 18px;
  margin-left: 5px;
}
.chat-Navbar-name b {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}
.chat-Navbar-name small {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.chat-Navbar-name strong {
  font-family: Inter;
  font-size: 8px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.loader {
  text-align: center;
}
.loader span {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 20px;
  animation: loader 0.8s infinite alternate;
}
.loader span:nth-of-type(2) {
  animation-delay: 0.2s;
}
.loader span:nth-of-type(3) {
  animation-delay: 0.6s;
}
@keyframes loader {
  0% {
    opacity: 0.9;
    transform: scale(0.5);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}

#chatbot-style {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  text-align: start;
}

#chatbot-style.hidden  , #formElementCls.hidden{
  display: none;
}

.iconsImg {
  width: 62.63px;
  height: 62.63px;
  background: #0000001f;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.iconsImg {
  position: fixed;
  bottom: 2%;
  right: 0;
}

.powerdByText {
  text-align: center;
  margin: 25px;
}
.powerdSpan{
  font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: center;

}
strong {
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.formElementCls{
  border: 1px solid var(--border-color);
  border-top: none;
  border-bottom-left-radius: 0.5rem; 
  border-bottom-right-radius: 0.5rem;
  padding: 10px;

}

.formElHr{
  border: 1px solid #E4E4E4;
  margin: 5px 20px;
}
